@import url("header_footer.css");


table,tr{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
}
  
tr,th {
    text-align: center;
    padding: 8px;
}

td img{
    padding: 10px;
}

td img{
    width: 200px;
    height: 200px;
}

td:nth-child(1){
    text-align: center;
    padding: 0px;
}

td:nth-child(4){
    text-align: center;
}

td{
    font-size: 20px;
    font: bold;
    font-weight: 800;
}


.cart_quantity_button a {
    background:white;
    color: black;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    text-decoration:  none;
    float: left;
}

.cart_quantity_input {

    color: #696763;

    float: left;

    width: 18px;

    font-size: 16px;

    text-align: center;

    border: none;

    font-family: 'Roboto',sans-serif;

   

}

.quantity a,input{
    text-align: center;
    align-content: center;
}