{% load static %}
<footer class="page-footer font-small indigo">
    <div class="container text-center text-md-left footerh1">
      <h1>GAME STOP</h1>
      <div class="row">
        <div class="col-md-3 mx-auto service">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Services</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Playstation</a>
            </li>
            <li>
              <a href="#!">Xbox</a>
            </li>
            <li>
              <a href="#!">Nintendo </a>
            </li>
            <li>
              <a href="#!">Contact </a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Legal</h5>
            <p>Privacy Policy</p>  
          <!-- Grid column -->
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 social-media">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href=""><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fab fa-google"></i></a></li>
            <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>  
       
        <!-- Grid row-->
    
      </div>
      <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="/" style="color: black;"> Game Stop.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>