{% extends 'index.html' %}
{% block content %}
{% load static %}
<form action="/playstation/update/{{data.id}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <main class="container wproduct my-4 py-4">
        <div class="row mt-5">
            <div class="col-xl-5 col-lg-5 col-md-5 col-12 d-flex product-img">
                <img class="img-fluid w-100 " name="image" src="../../{{data.image}}" alt="">
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-12">
                <h2 class="pb-4" name="name">{{data.name}}</h2>
                <h3 class="pt-2" name="price">{{data.price}}</h3>
                <input type="number" value="1">
                <button class="btn buy-btn btn-dark">Add to Cart</button>
                <h4 class="mt-4 mb-4" name="des">{{data.des}}</h4>
                <span class=""></span>
            </div>
        </div>
    </main>
</form>

{% endblock content %}